
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="body__wrapper">
        <div class="__logo">
            <a asp-area="" asp-controller="Login" asp-action="Index">
                <img src="~/images/ccma-logo.png" alt="" />
            </a>
        </div>
        <div class="center__logo">
            <img src="~/images/center-logo.png" alt="" />
            <h2>Conflict Predictive</h2>
        </div>
        <div class="nav__content">
            <img src="~/images/circle-bg-2.png" alt="" class="content__bg" />
            <div class="nav nav-1">
                <p><a  href="/Information">Information</a></p>
            </div>
            <div class="nav nav-2">
                <p><a href="/DashBoardDNW">Days Not Worked</a></p>
            </div>
            <div class="nav nav-3">
                <p><a href="/DashBoardUnEmp">Unemployment</a></p>
            </div>
            <div class="nav nav-4">
                <p><a href="/DashBoardCPI">CPI</a></p>
            </div>
            <div class="nav nav-5">
                <p><a href="/DashBoardInflation">Inflation %</a></p>
            </div>
            <div class="nav nav-6">
                <p><a href="/DashBoardJobloss">Job Loss</a></p>
            </div>
            <div class="nav nav-7">
                <p><a href="/DasBoardGDP">Gross Domestic Product</a></p>
            </div>
            <div class="nav nav-8">
                <p><a href="/DashBoardPredective">Conflict Predictive</a></p>
            </div>
        </div>
    </div>
</body>
</html>

