@model PredictiveTool.Models.PredAnalysisModel

@{
    var test = ViewContext.RouteData.Values["Action"].ToString();
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="innerdiv">
    <div class="col-xs-12 col-sm-12">
        <div role="form" class='form-horizontal'>


            <br />
            <div>

                <div class="row">
                    <div class="col-md-3"><button onclick="return tabClick(this);" id="31" class="btn bgunemp">Unemployed</button></div>
                    <div class="col-md-3"><button onclick="return tabClick(this);" id="32" class="btn bgterm">Unemployment term</button></div>
                    <div class="col-md-3"><button onclick="return tabClick(this);" id="33" class="btn bgtermemp">Long term Unemployed</button></div>
                    <div class="col-xs-1">
                        <div class="checkbox">
                            <label>
                                <input id="hdntab" style="display:none" />
                                <input id="chkdataID" class="Cbox" type="checkbox"> Data
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="checkbox">
                            <label>
                                <input id="chkgpID" class="Cbox" type="checkbox"> Graph
                            </label>
                        </div>
                    </div>


                </div>

            </div>
            <br />

            <div style="margin-left:-8px">
               
            </div>

            <div class="col-xs-12 col-sm-12 divblock">
                <span>Date Range</span>
            </div>
            <br />
            <br />
            <div class="row" style="margin-top:5%">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Year From</label>
                            <div class="col-md-8">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input id="dtidfrom" type='date' class="form-control input-lg" />
                                    <span class="input-group-addon">
                                        <span style="color:black!important" class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">To</label>
                            <div class="col-md-8">
                                <div class='input-group date' id='datetimepicker1'>
                                    <input id="dtidto" type='date' class="form-control input-lg" />
                                    <span class="input-group-addon">
                                        <span style="color:black!important" class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" onclick="return submitclick();" class="btn btn-sm  subbtn"> Submit</button>
                </div>
            </div>
            <div id="divdataID" style="display:none">
                <div class="col-xs-12 col-sm-12 divblock">
                    <span>Data</span>
                </div>
                <div class="tab-pane fade active in" id="sub11">
                    <div class="tbldicscrol" id="tblData"></div>
                </div>
            </div>
            <div>
                <div id="divgraphID" style="display:none">
                    <div class="col-xs-12 col-sm-12 divblock">
                        <span>Graph</span>
                        <div class="intbtn">
                        <button id="btn5y" onclick="return YearlyFilter(this);">10y</button>
                        <button id="btn3y" onclick="return YearlyFilter(this);">5y</button>
                        <button id="btn1y" onclick="return YearlyFilter(this);">3y</button>
                        </div>
                    </div>
                    <div id="divchartID" class="tab-pane fade active in Outchartdivclass" id="sub11">
                        <div id="container" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 divblock"><span>Variance</span></div>
                    <div id="rowaccuracyID" class="wrapper">

                    </div>
                </div>
                </div>
            </div>

        </div>


    </div>



</div>
@*<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/HighChart.js"></script>*@


