
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="container information">

    <div class="row">
        <div>
            CCMA information Page
        </div>
        <div>
            <br />
        </div>
        <div>
            The following members were involved in the configuration of the Conflict
            Predictive tool :
        </div>
        <div>
            From CCMA :
        </div>
        <div>
            The Team leaded by Boitumelo who were instrumental in providing the scope
            and the guidelines
        </div>
        <div>
            Boitumelo Rakau
        </div>
        <div>
            Norma Mutongerwa
        </div>
        <div>
            Japhet Dzvifu
        </div>
        <div>
            Kabelo Rakubu
        </div>
        <div>
            Albert Masoso
        </div>
        <div>
            The Team who developed and designed the Conflict predictive tool
        </div>
        <div>
            Futurespot Technologies in strategic partnership with AK Consulting
        </div>
        <div>
           <img style="width: 24%;height: 200px;" src="~/images/firstimg.jpg" /><img style="height: 200px;width: 21%;" src="~/images/secondimg.jpg" />
        </div>
        <div>
            Our Predictive analytics uses historical data to predict future events.
            Typically, historical data is used
        </div>
        <div>
            to build a mathematical model that captures important trends. Our
            predictive model is then used on
        </div>
        <div>
            current data to predict what will happen next, or to suggest actions to
            take for optimal outcomes.
        </div>
        <div>
            The Below information shows you how to use this Conflict Predictive tool
            designed for CCMA:
        </div>
        <div>
            
        </div>
        <p>The Conflict Predictive tool project ultimately aims to enhance and improve the customer&rsquo;s total engagement and experience with the company service offering by fundamentally transforming the way in which the organization engages its stakeholders on a day to day basis.</p>
        <p>&nbsp;</p>
        <p>The newly developed conflict predictive tool contains below sectors:</p>
        <p>&nbsp;</p>
        <ul>
            <li><strong>Conflict Predictive</strong>-It includes data of sectors like Agriculture, Mining &amp; Quarifying, Manufacturing, Wholesale, Transport and Youth Unemployment.</li>
            <li><strong>Days Not Worked</strong>-It includes data of Agriculture, hunting and forestry, Mining and quarrying, Manufacturing, Electricity, gas and water supply, Construction, Wholesale and retail trade, Transport, storage and communications, Financial intermediation, Public administration and defence.</li>
            <li><strong>Unemployment-</strong>It includes data of Unemployment in Man, Woman and Both sectors</li>
            <li><strong>CPI</strong>- Data of customer price Index</li>
            <li><strong>Inflation-</strong> Data of Inflation %</li>
            <li><strong>Job loss</strong>- It includes data of job loss due to Unemployed, Unemployment term, Long term Unemployed.</li>
            <li><strong>Gross Domestic Product</strong> -It includes data of different sectors based on Annualised percentage change, Percentage change, R Million.</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>How UI works.</strong></p>
        <p>&nbsp;</p>
        <ul>
            <li>Go to any sector from home page by clicking on the required sector button.</li>
        </ul>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For example, Conflict Predictive</p>
        <ul>
            <li><strong>Step 1 - </strong>Go to Conflict Predictive tab</li>
            <li><strong>Step 2</strong> -Select the required individual sectors from &lsquo;Select&rdquo; drop down.</li>
        </ul>
        <p>
            <img src="~/images/1.png" />
        </p>
        <ul>
            <li><strong>Step 3</strong> - Select data or graph check box from second row</li>
        </ul>
        <p><img src="~/images/2.png" /></p>
        <ul>
            <li><strong>Step 4</strong>- All data or graph from inception will be displayed.</li>
            <li> <p><img src="~/images/3.png" /></p></li>
            <li><strong>Step 5</strong>- If want to enter date manually go to data range and select the year from &amp; to and click on submit button</li>
            <li> <p><img src="~/images/4.png" /></p></li>
            <li><strong>Step 6</strong> - First data will be displayed under data range</li>
            <li> <p><img src="~/images/5.png" /></p></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Where (Orig) is the existing data given by CCMA in excel and (Pred) is the predictive data.</p>
        <p>&nbsp;</p>
        <ul>
            <li><strong>Step 7</strong> - Graph for single sectors is displayed as below</li>
            <li> <p><img src="~/images/6.png" /></p></li>
        </ul>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Graph for multiple sectors are displayed as below</p>
        <p>&nbsp;</p>
        <p><img src="~/images/7.png" /></p>
        <p><img src="~/images/8.png" /></p>
        <p><strong>Step 8</strong> - Click full screen option from above&nbsp; to see in complete UI and reports can also download from same page.</p>
        <p><img src="~/images/9.png" /></p>
        <p><strong>Notes</strong></p>
        <ul>
            <li>As we had data till 2017.So prediction is done from 2019 to 2030.</li>
            <li>Below formula are used for prediction and date format for different sectors followed as per excel</li>
            <li></li>
        </ul>
        <p><img src="~/images/10.png" />;</p>
        <p>&nbsp;</p>
    </div>

</div>